@model IEnumerable<CadastroAluno>

@{
    ViewData["Title"] = "Index";
}
<p>

</p><p>

</p><p>

</p><p>

</p><p>

</p><p>

</p>
<h1 style="text-align:left" >CRUD - Lista de Alunos</h1>
<p>

</p><p>

</p><p>

</p><p>

</p><p>

</p><p>

</p>
<p style="text-align:left">
    
    <a asp-action="Create">Cadastrar Novo Aluno</a>
</p>
<p>

</p><p>

</p><p>

</p><p>

</p><p>

</p><p>

</p><p>

</p>
<table class="table" style="text-align:left">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobrenome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sobrenome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
